{% extends "app/base.html" %}

{% block content %}
<div class="py-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
      <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
      <li class="breadcrumb-item"><a href="#">App</a></li>
      <li class="breadcrumb-item active" aria-current="page">Varietas</li>
    </ol>
  </nav>
  <div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="mb-3 mb-lg-0">
      <h1 class="h4">Tambah Data Varietas</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data">
          <div class="mb-4">
              <label for="nama">Nama Varietas</label>
              <input type="text" name="nama" class="form-control" id="nama">
          </div>

          <div class="mb-4">
                <label for="nama">Batas Bawah Jarak Tanam</label>
                <input type="number" min="0" step="0.01" name="low_jarak_tanam" 
                  class="form-control">
            </div>
            <div class="mb-4">
                <label for="nama">Batas Atas Jarak Tanam</label>
                <input type="number" min="0" step="0.01" name="up_jarak_tanam" 
                  class="form-control">
            </div>

            <div class="mb-4">
                <label for="nama">Batas Bawah Ketahanan Penyakit</label>
                <input type="number" min="0" step="0.01" name="low_ketahanan_penyakit" 
                  class="form-control">
            </div>
            <div class="mb-4">
                <label for="nama">Batas Atas Ketahanan Penyakit</label>
                <input type="number" min="0" step="0.01" name="up_ketahanan_penyakit" 
                  class="form-control">
            </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Umur Panen</label>
              <input type="number" min="0" name="low_umur_panen" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Umur Panen</label>
              <input type="number" min="0" name="up_umur_panen" class="form-control">
          </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Daya Tumbuh</label>
              <input type="number" min="0" step="0.01" name="low_daya_tumbuh" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Daya Tumbuh</label>
              <input type="number" min="0" step="0.01" name="up_daya_tumbuh" class="form-control">
          </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Kadar Air</label>
              <input type="number" min="0" step="0.01" name="low_kadar_air" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Kadar Air</label>
              <input type="number" min="0" step="0.01" name="up_kadar_air" class="form-control">
          </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Harga Benih</label>
              <input type="number" min="0" name="low_harga_benih" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Harga Benih</label>
              <input type="number" min="0" name="up_harga_benih" class="form-control">
          </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Berat</label>
              <input type="number" min="0" step="0.01" name="low_berat" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Berat</label>
              <input type="number" min="0" step="0.01" name="up_berat" class="form-control">
          </div>

          <div class="mb-4">
              <label for="nama">Batas Bawah Hasil Panen</label>
              <input type="number" min="0" step="0.01" name="low_hasil_panen" class="form-control">
          </div>
          <div class="mb-4">
              <label for="nama">Batas Atas Hasil Panen</label>
              <input type="number" min="0" step="0.01" name="up_hasil_panen" class="form-control">
          </div>

          <button class="btn btn-success mt-2" type="submit">Simpan</button>
          <!-- End of Form -->
          <!-- Form -->
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}