{% extends "app/base.html" %}

{% block content %}
  <div class="py-4">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item"><a href="#">App</a></li>
              <li class="breadcrumb-item active" aria-current="page">Varietas</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Data Varietas</h1>
              <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
          </div>
          <div>
              <a href="/app/varietas/create" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Tambah Varietas</a>
          </div>
      </div>
  </div>
  <div class="card border-light shadow-sm">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0"></th>
                        <th class="border-0">Nama</th>
                        <th class="border-0"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    {% for item in items %}
                        <tr>
                            <td class="font-weight-bold">{{ loop.index }}</td>
                            <td class="font-weight-bold">{{ item.nama }}</td>
                            <td class="text-right">
                              {% if session.user.role == 'ADMIN' %}
                                <a href="/app/varietas/{{item.id}}/edit" class="btn btn-info mt-2 btn-sm" >edit</a>
                                <a href="/app/varietas/{{item.id}}/delete_confirm" class="btn btn-danger mt-2 btn-sm" >hapus</a>
                              {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}