{% extends "app/base.html" %}

{% block content %}
  <div class="py-4">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
              <li class="breadcrumb-item"><a href="#">App</a></li>
              <li class="breadcrumb-item active" aria-current="page">Bobot</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Data Bobot Kriteria</h1>
              <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p>
          </div>
      </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card border-light shadow-sm">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% for item in data %}
              <div class="mb-4">
                <label for="nama">{{ item.name }}</label>
                <input type="number" min="0" max="5" name="k_{{ loop.index0 }}" class="form-control" value="{{ item.value }}" />
              </div>
            {% endfor %}
            <button class="btn btn-success mt-2" type="submit">Simpan</button>
            <!-- End of Form -->
            <!-- Form -->
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
